
# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Virtual environment
venv/
__pycache__/
*.py[cod]
*$py.class


# macOS system files
.DS_Store
__MACOSX/




# API keys and sensitive configuration
*.key
*api_key*
*API_KEY*
config/secrets.yml
secrets.json


# Large data files
files/MPI-abstracts-OA.csv
articles_df.pkl

# directories
stanford-encyclopedia/
reading_list/
scraping_sep/
sep_entries/

scratchcode.py
workbook_01_text_analysis_full_sep.ipynb
JSTOR_data_ste_preparation.ipynb
files/jstor_metadata_2025-11-25.jsonl.gz
get_google_data.ipynb
articles_df.pkl
american_anthropologist_item_ids.txt
1cb33356-c3ba-41ba-84ae-588574d5d786.jsonl.gz
american_anthropologist_item_ids_2.txt
american_anthropologist_merged.zip 